body{
    background-color: white;
}

input[type=text]{
    padding: 10px;
    font-size: 14px;
}

.azul{
    background-color: blueviolet;
    color: rgb(0, 241, 40);
}

.vermelho{
    background-color: red;
    color: white;
}

.verde{
    background-color: green;
    color: black;
}

#telefone{
    display: none;
}

